body {
  /* The image used */
  background-image: url("../assets/login-background.jpg");
  /* Full height */
  height: 100vh;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

.login-card {
  margin-top: 30px; }
  .login-card .card-header {
    background-color: #ab2023;
    color: white; }
